<h1>わがまま検索 search_for "<%= @value %>" <%= @dates.count %>件ヒットしました。</h1>

<% @dates.each do |date| %>
  <table>
    <thead>
      <tr>
        <th>投稿者</th>
        <th>Title</th>
        <% if date.image.present? %>
          <th>Image</th>
        <% end %>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= date.user.name %></td>
        <td><%= link_to date.title, post_path(date.id) %></td>
        <% if date.image.present? %>
          <td><%= attachment_image_tag date, :image, format:"jpeg", size:"200x200" %></td>
        <% end %>

        <% if date.tag_list.present? %>
          <td><%= render "posts/tag_list", tag_list: date.tag_list %></td>
        <% end %>
        <td><%= date.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
      <tr id= "post_<%= date.id %>">
        <td class = "favorite_btn"><%= render "favorites/favorite-btn", post: date %></td>
        <td>コメント数<%= date.post_comments.count %></td></br>
      </tr>
    </tbody>
  </table>
<% end %>