<div class="admin-container">
  <div class="admin-mypage">
    <h1 class="admin-mypage-heading">ユーザ詳細</h1>

    <table class="admin-mypage-table">
      <thead>
      <tr>
        <th class="admin-mypage-name">名前（ニックネーム） <%= @user.name %></th>
      </tr>
      <tr>
        <th class="admin-mypage-kana">かな  <%= @user.name_kana %></th>
      </tr>
      <tr>
        <th class="admin-mypage-introduction">自己紹介文  <%= @user.introduction %></th>
      </tr>
      <tr>
        <th class="admin-mypage-profile-image">プロフィール写真  <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", format:"jpeg", size:"90x90" %></th>
      </tr>
      <tr>
        <th class="admin-mypage-email">メールアドレス  <%= @user.email %></th>
      </tr>
      <tr>
        <th class="admin-mypage-phone-number">電話番号  <%= @user.phone_number %></th>
      </tr>
      <tr>
        <td class="admin-mypage-status">
          <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
            <%= f.label :is_deleted, "会員ステータス" %></br>
            <%= f.radio_button :is_deleted, false %><span>有効</span>
            <%= f.radio_button :is_deleted, true %><span>退会</span></br>
            <%= f.submit "ステータスを更新する" %>
          <% end %>
        </td>
      </tr>
    </thead>
  </table>

  </div>
  <div class="admin-mypost">
    <h1 class="admin-mypost-heading">ユーザー投稿一覧</h1>

    <% @posts.each do |posts| %>
      <table class="admin-mypost-table">
        <thead>
          <tr>
            <th>投稿者</th>
            <th>Title</th>
            <% if posts.tag_list.present? %><!--present?で@postsのimageカラムの中身が存在するか確認。存在すれば表示する。-->
              <th>tag</th>
            <% end %>
            <th>投稿日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= posts.user.name %></td>
            <td><%= link_to posts.title, admins_post_path(posts.id) %></td>
            <% if posts.tag_list.present? %>
              <td><%= posts.tag_list %></td>
            <% end %>
            <td><%= posts.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
          <tr>
            <td>わがまま！数<%= posts.favorites.count %></td>
            <td>コメント数<%= posts.post_comments.count %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>