<h1>ユーザ詳細</h1>

<table>
  <thead>
    <tr>
      <th>名前（ニックネーム）<%= @user.name %></th>
    </tr>
    <tr>
      <th>かな <%= @user.name_kana %></th>
    </tr>
    <tr>
      <th>自己紹介文 <%= @user.introduction %></th>
    </tr>
    <tr>
      <th>プロフィール写真 <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", format:"jpeg", size:"90x90" %></th>
    </tr>
    <tr>
      <th>メールアドレス <%= @user.email %></th>
    </tr>
    <tr>
      <th>電話番号 <%= @user.phone_number %></th>
    </tr>
    <tr>
      <td>
        <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
          <%= f.label :is_deleted, "会員ステータス" %></br>
          <%= f.radio_button :is_deleted, false %><span>有効</span>
          <%= f.radio_button :is_deleted, true %><span>退会</span></br>
          <%= f.submit "ステータスを更新する" %>
        <% end %>
      </td>
    </tr>
  </thead>
</table>
</br>

<h3>ユーザー投稿一覧</h3>

<% @posts.each do |posts| %>
  <table>
    <thead>
      <tr>
        <th>投稿者</th>
        <th>Title</th>
        <% if posts.image.present? %><!--present?で@postsのimageカラムの中身が存在するか確認。存在すれば表示する。-->
          <th>Image</th>
        <% end %>
        <% if posts.tag_list.present? %><!--present?で@postsのimageカラムの中身が存在するか確認。存在すれば表示する。-->
          <th>tag</th>
        <% end %>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= posts.user.name %></td>
        <td><%= link_to posts.title, admins_post_path(posts.id) %></td>
        <% if posts.image.present? %>
          <td><%= attachment_image_tag posts, :image, format:"jpeg", size:"200x200" %></td>
        <% end %>

        <% if posts.tag_list.present? %>
          <td><%= posts.tag_list %></td>
        <% end %>
        <td><%= posts.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
      <tr>
        <td>わがまま！数<%= posts.favorites.count %></td>
        <td>コメント数<%= posts.post_comments.count %></td>
      </tr>
    </tbody>
  </table>
<% end %>