<div class="admin-background-image">

  <h2 class="admin-log-in-heading">Admin Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="admin-log-in-background-color">
      <div class="name-field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="password-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="remember-me-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="log-in-button">
        <%= f.submit "Log in" %>
      </div>
    </div>
  <% end %>
  <div class="log-in-min-height"></div>
</div>